.logoutButton {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
