.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--size) * 2);
}

.lostContainer {
  font-size: 2em;
  margin-top: calc(var(--size) * 5);
  color: var(--secondary-color);
}

.linksContainer {
  margin-top: calc(var(--size) * 5);
  text-align: center;
}

.linksContainer a {
  font-size: 2.5em;
  text-transform: upp \ercase;
  color: var(--secondary-color);
  margin: 0px calc(var(--size) * 8);
}
